<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/write.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <div><label>작성자</label><input name="b_writer" type="text" id="b_writer"></div>
        <div><label>작성일자</label><input name="b_date" type="text" id="b_date"></div>
        <div><label>작성시각</label><input name="b_time" type="text" id="b_time"></div>
        <div><label>제목</label><input name="b_subject" type="text" id="b_subject"></div>
        <div>
            <label>내용</label>
            <textarea name="b_text" id="b_text"></textarea>
        </div>
        <button>저장</button>
    </form>
</body>
</html>